@use './variables.scss';
.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    max-width: 1232px;
    color: variables.$textColor;
}
